*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Karla", sans-serif;
  color: #000000;
  font-weight: 400;
  background-color: #e5eff5; }

.container {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin: 7vh 5vw;
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }
  .container > div {
    padding: 3.5rem 2rem; }
    .container > div > h2 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 2rem; }

.community {
  background-color: #fff;
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem; }
  .community-title {
    color: #2ab2af; }
  .community-guarantee {
    color: #c0df34;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 2rem; }
  .community-info {
    color: #98a6bd;
    font-size: 1.4rem;
    line-height: 2.4rem; }

.subscription {
  background-color: #2ab2af;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .subscription-price {
    display: flex; }
    .subscription-price .price-value {
      font-size: 3.5rem;
      font-weight: 700;
      padding-right: 1.5rem; }
    .subscription-price .price-label {
      font-size: 1.7rem;
      color: #e5eff5;
      align-self: center; }
  .subscription-day {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 2.8rem; }
  .subscription-sign-up {
    background-color: #c0df34;
    border: 1px solid #c0df34;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: "Karla", sans-serif;
    color: #fff;
    width: 100%;
    height: 5rem;
    font-size: 1.6rem;
    font-weight: 700;
    transition: all 0.2s; }
    .subscription-sign-up:hover, .subscription-sign-up:active {
      background-color: #afcf20;
      cursor: pointer; }

.about-us {
  background-color: #4abebd;
  color: #fff;
  border-bottom-right-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem; }
  .about-us-info {
    font-size: 1.4rem;
    color: #e5eff5;
    padding-right: 15%;
    line-height: 2.5rem; }

/* DESKTOP */
@media (min-width: 860px) {
  .container {
    max-width: 680px;
    margin: 15vh auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content); }
    .container > div {
      padding: 3.7rem 4rem; }
  .community {
    grid-column: 1 / 3; }
    .community > h2.community-title {
      font-size: 2.5rem; }
    .community-guarantee {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 1rem; }
    .community-info {
      font-size: 1.7rem;
      line-height: 2.4rem; }
  .subscription {
    border-bottom-left-radius: 0.8rem; }
    .subscription-day {
      font-size: 1.6rem; }
  .about-us {
    border-bottom-left-radius: 0; }
    .about-us-info {
      padding-right: 30%; } }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }
